@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&display=swap');
body{
    margin: 0px;
    /* background-color:  black; */
    font-family: 'Anek Devanagari', sans-serif;
    box-sizing: border-box;
}
#menu1{
    border-bottom: 0.24vw white solid;
    color: #ffffff;
}
main{
    padding-inline: 10vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
#motivate-bg{
    font-size: 100px;
    position: absolute;
    top: 115vh;
    left: 9vw;
    background-color: #86e045a1;
    width: 540px;
    height: 40px;
    z-index: -1;
    border-radius: 40px;
}
#motivate{
    display: inline;
    font-size: 50px;
}
#how-to-bg{
    font-size: 100px;
    position: absolute;
    top: 115vh;
    left: 9vw;
    background-color: #86e045a1;
    width: 540px;
    height: 40px;
    z-index: -1;
    border-radius: 40px;
}
#how-to{
    display: inline;
    font-size: 50px;
}
#ans-of-how-to{
    font-size: 22px;
}
#steps{
    display: flex;
    width: 92vw;
    margin-inline: 2vw;
    padding: 1vw;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5vw;
    margin-bottom: 5vw;
}
#steps a{
    text-decoration: none;
    color: inherit;
}
.step{
    /* padding: 0.5vw; */
    border-radius: 100px 0px;
    width: 15vw;
    min-width: 200px;
    border: 0.8vw solid transparent;
    transition: all ease-in-out 0.1s;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2),
        0 0.6vw 2vw 0 rgba(0, 0, 0, 0.19);
}
.step-no{
    font-size: 30px;
    background-color: #e53e3e;
    padding-inline: 1.4vw;
    margin: 0.5vw;
    border-radius: 50%;
    color: white;
}
#step-no-1{
    background-color: #0d06d7c0;
}
#step-no-2{
    background-color: #d607a9c0;
}
#step-no-3{
    background-color: #ed0004c2;
}
#step-no-4{
    background-color: #026000c0;
}
#step-no-5{
    background-color: #058374c0;
}
.step-title{
    display: inline;
}
.step-img{
    width: 100%;
    height: 150px;
    border-radius: 100px 0 0 0;
}
#step1{
    grid-area: 'step1';
    background-color: #0d06d73c;
}
#step2{
    grid-area: 'step2';
    background-color: #d607a939;
}
#step3{
    grid-area: 'step3';
    background-color: #ed000445;
}
#step4{
    grid-area: 'step4';
    background-color: #0260004a;
}
#step5{
    grid-area: 'step5';
    background-color: #0887a056;
}
#step1:hover{
    transform: scale(1.1);
    border: 0.8vw solid #0d06d73c;
    background-color: transparent;
    cursor: pointer;
}
#step2:hover{
    transform: scale(1.1);
    border: 0.8vw solid #d607a939;
    background-color: transparent;
    cursor: pointer;
}
#step3:hover{
    transform: scale(1.1);
    border: 0.8vw solid #ed000445;
    background-color: transparent;
    cursor: pointer;
}
#step4:hover{
    transform: scale(1.1);
    border: 0.8vw solid #0260004a;
    background-color: transparent;
    cursor: pointer;
}
#step5:hover{
    transform: scale(1.1);
    border: 0.8vw solid #0887a056;
    background-color: transparent;
    cursor: pointer;
}
.step-text{
    margin: 1vw;
    font-size: 1.3vw;
}