nav{
    color: white;
    position: fixed;
    top: 0px;
    background-color: transparent;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 10;
}
#logo{
    display: inline;
    justify-self: start;
    align-self: stretch;
}
#logo-img{
    width: 4vw;
    padding: 0.8vw;
    float: left;
    margin: 0.8vw;
    padding-right: 0;
    margin-right: 0;
}
#name{
    display: inline;
    margin: 0.8vw;
    padding: 0.8vw;
    font-size: 2.2vw;
    border-right: 0.2vw white solid;
}
nav a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
.menus{
    background-color: transparent;
    color: #afafaf;
    border: none;
    cursor: pointer;
    margin: 0.8vw;
    display: inline;
    padding: 0px;
    margin: 1.6vw;
    font-size: 1.33vw;
    border-bottom: 0.24vw transparent solid;
}

#menu8{
    display: none;
}
.menus:hover {
    color: #ffffff;
    border-bottom: 0.24vw white solid;
}
.menus:active {
    color: #ffffff;
    border-bottom: 0.24vw white solid;
}
#hide-menu-box{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #fff;
    display: none;
    padding-inline: 10vw;
    padding-top: 2vh;
}
#hide-menu-box a{

    color: black;
    font-size: 5vw;
    padding: 1vh;
    border-bottom: solid 1vw transparent;
}
#hide-menu-box a:hover{
    border-bottom: solid 1vw black;
    transform: translateX(1vw);
}
#menu-header{
    clear: both;
    background-color: black;
    width: fit-content;
    padding: 1.5vw;
    display: flex;
    align-items: center;
    border-radius: 6.4vw 0 6.4vw 0;
    gap: 1.6vw;
    margin-bottom: 0.8vw;
}
#hide-logo-img{
    width: 12vw;
}
#hide-close-img{
    width: 6vw;
}
#hide-name{
    font-size: 8vw;
}
#hide-close{
    position: relative;
    float: right;
    top: 0.5vh;
    right: 20vw;
}
