@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&display=swap');
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  position: absolute;
  top: 90vh;
  right: 32vw;
  color: white;
}
body{
    margin: 0px;
    /* background-color:  black; */
    font-family: 'Anek Devanagari', sans-serif;
    box-sizing: border-box;
}
#menu2{
    border-bottom: 0.24vw white solid;
    color: #ffffff;
}
main{
    padding-inline: 10vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
#why-bg{
    font-size: 100px;
    position: absolute;
    top: 115vh;
    left: 10vw;
    background-color: #86e045a1;
    width: 540px;
    height: 40px;
    z-index: -1;
    border-radius: 40px;
}
#why-yoga{
    font-size: 4vw;
    margin: 10px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    display: inline-block;
}
.normal-text{
    font-size: 1.4vw;
    margin: 1vw;
}
#yoga-bg{
    z-index: -1;
    margin-inline: 13vw;
    width: 73vw;
    border-radius: 2vw;
    height: 100vw;
    position: absolute;
    opacity: 70%;
    background: linear-gradient(90deg, rgba(240,206,255,1) 0%, rgba(173,173,255,1) 22%, rgba(157,218,255,1) 50%, rgba(176,251,255,1) 79%, rgba(160,255,211,1) 100%);
    --mask:
        radial-gradient(38.99px at 50% calc(100% + 18.00px),#82040400 calc(99% - 8px),#ab0101 calc(101% - 8px) 99%,#10065400 101%) calc(50% - 60px) calc(50% - 19px + .5px)/120px 38px ,
        radial-gradient(38.99px at 50% -18px,#02521e00 calc(99% - 8px),#0f86c6 calc(101% - 8px) 99%,#1ed10a00 101%) 50% calc(50% + 19px)/120px 38px ;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
#yoga-title{
    z-index: 2;
    text-align: center;
    font-size: 4vw;
    font-weight: 800;
    margin: 2vw;
}
#yoga-box{
    margin-inline: 15vw;
    margin-top: 2vh;
    margin-bottom: 10vh;
    background-color: #ffffffba;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2),
    0 0.6vw 2vw 0 rgba(0, 0, 0, 0.19);
}
#yoga-form{
    margin: 1vw;
    display: flex;
    justify-content: space-evenly;
}
#yoga-form input{
    display: none;
}
#yoga-form input:checked + label{
    background-color: black;
    color: white;
    transition: ease-out;
    transition-duration: 0.5s;
}

#yoga-form label{
    width: 12vw;
    padding: 1vw;
    text-align: center;
    font-size: 2vw;
    border-radius: 3vw;
}
#yoga-form label:hover{
    background-color: #e2e2e2;
}
#yoga-form label:active{
    background-color: #dbdbdb;
    transform: translateY(3px);
}
#filter-btn{
    background-color: transparent;
    border-radius: 3vw;
    border: none;
}
#filter-btn:hover{
    background-color: #dbdbdb;
}
#filter-btn:active{
    background-color: #dbdbdb;
    transform: translateY(3px);
}
#filter-btn img{
    width: 4vw;
}
#yoga-filter{
    background-color: rgb(186, 186, 186);
}
#yoga-display{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 2vw;
    background-color: transparent;

}

.items{
    text-align: center;
    width: 25vw;
    transition: transformation 0.2s;
    padding: 0.7vw;
    transition: all ease 0.2s;
}
.items:hover{
    transform: scale(1.1);
    background: linear-gradient(90deg, rgba(240,206,255,0.5) 0%, rgba(173,173,255,0.5) 22%, rgba(157,218,255,0.5) 50%, rgba(176,251,255,0.5) 79%, rgba(160,255,211,0.5) 100%);;
    border-radius: 1vw;
}
.items h2{
    font-size: 2vw;
    text-align: left;
    border-bottom: 0.3vw solid black  ;
    margin-right: 2vw;
    border-radius: 5px;
    padding-bottom: 1vw;
}
.items h3{
    font-size: 1vw;
}
.fav-btn{
    background-color: transparent;
    border: none;
    font-size: 2vw;
    float: right;
}
.fav-btn:active{
    transform: translateY(4px);
}
#yoga-filters{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1vw;
    transition: all ease 1s;
}
#yoga-filters input,#yoga-filters label{
    margin: 0.3vw;
}
#yoga-filters span:hover{
    transform: translateY(3px);
}
/* #filter-btn:active #yoga-filter{
} */
